* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
p {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  min-height: 100vh;
  background-color: #fff;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.bg-primary:hover,
.bg-primary:active,
.bg-primary:visited {
  background-color: #6ca5fa !important;
}
.bg-success,
.bg-success:hover,
.bg-success:active,
.bg-success:visited {
  background-color: #20be75 !important;
  color: #100901;
}
.bg-warning:hover,
.bg-warning:active,
.bg-warning:visited {
  background-color: #fdd44c !important;
}
.bg-info:hover,
.bg-info:active,
.bg-info:visited {
  background-color: #43b9d1 !important;
}
.bg-danger,
.bg-danger:hover,
.bg-danger:active,
.bg-danger:visited {
  background-color: #e95d58 !important;
}
.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}
